* {
  margin: 0;
  padding: 0;
}

ul.todos {
  margin: 1rem;
  padding: 3rem 1rem;
  list-style-type: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
}
ul.todos li {
  position: relative;
  margin: 0 2rem;
  padding-top: 10px;
}
ul.todos li::after {
  position: absolute;
  content: "x";
  right: 0;
  top: 0;
}
main {
  width: 100%;
  text-align: center;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 4rem auto;
  border-radius: 5px;
}
button.add-todo {
  color: white;
  border: none;
  padding: 10px 20px;
  background: #e73727;
  margin: 0;
  /* display: inline-block; */
}
input.input-todo {
  padding: 10px 20px;
  border: none;
  margin: 0;
}
form.form-todo {
  margin: 2rem;
  padding: 1rem;
}
body {
  height: 100vh;

  background: rgba(248, 80, 50, 1);

  background: linear-gradient(
    135deg,
    rgba(248, 80, 50, 1) 0%,
    rgba(241, 111, 92, 1) 27%,
    rgba(22, 148, 127, 1) 55%,
    rgba(240, 47, 23, 1) 81%,
    rgba(231, 56, 39, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}
